
#contact_modal {
    display: none;
    position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #fff;
        opacity: 0.9;
}


.photograph-header {
        background-color: #FAFAFA;
            height: 300px;
            padding: 52px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form .error{
    color: red;
}

.img_media{
    border-radius: 5px;
    width: 350px;
    height: 300px;
 aspect-ratio: 22 / 19;
 object-fit: cover;
}
/* .img_media:focus {
    box-shadow: none;
}

.img_media:focus {
    outline: 0;
    box-shadow: #901C1C;
} */
.medias_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
}
.medias_content div{
    margin-bottom: 15px;
}
.name_img{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
}
.name_img .like{
    display: flex;
    align-items: center;
}
.name_img .like .fa-heart {
     padding-left: 6px;
}
.picture, .picture_photographe{
    height: 200px;
        width: 200px;
        border-radius: 50%;
}
.contact_photographe{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}
.contact_photographe .localisation h2{
    font-size: 64px;
    color: #d3573c;
    margin: 0px;
    font-weight: 400;
}
.contact_photographe .localisation .city{
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    color: #d3573c;
    margin-bottom: 15px;
}
.carte_media{
    margin-bottom: 30px;
    text-decoration: none;
}

.listbox_container .filter-by{
    font-size: 1.125rem;
     font-weight: 700;
}
.listbox{
        width: 10.625rem;
            height: 4rem;
            background-color: #901c1c;
            color: white;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 3rem;
            border: none;
            border-radius: 5px;
}
.listbox option{width: 100%;
    height: 4rem;
    border-radius: 0;
    background-color: #901c1c;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .9);
    z-index: 10;
    overflow: auto;
}
.lightbox-btn{
    position: fixed;
    top: 0;
    z-index: 11;
     opacity: 1;
    border: none;
    background: none;
    color: #901C1C;
    cursor: pointer;
    font-size: 60px;
     width: 60px;
    display: flex;
    justify-content: center;
     align-items: center;
     bottom: 0;

}

.lightbox #next{
    right: 0;
  
}
.lightbox-btn i{
    height: 2rem;
}

.lightbox #prev {
   right: auto;
   left: 0;


}
.lightbox #next:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    opacity: 1;
}


.lightbox #prev:focus{
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    opacity: 1;
}





.close-lightbox{
    position: fixed;
    opacity: .5;
    top: 20px;
    right: 0;
    z-index: 12;
    background: none;
    font-size: 60px;
    width: 60px;
    border: none;
    color: #901C1C;
}
.close-lightbox:focus{
-webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.close:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.lightboxcontainer img{
    max-height: 85vh;
    max-width: 100%;
}
.lightboxcontainer{
    display: flex;
     align-items: center;
    justify-content: center;
     width: 100%;
    height: 100%;
      
}
.likes-container{
    display: flex;
}
.like-button{
    border: none;
    background: none;
    color: #901C1C;
    font-size: 20px;
        
}
.lightboxcontainer .lightbox-video{
max-height: 85vh;
max-width: 100%;
}

.likes-container:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}